<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List View</title>
  </head>
  <body>
    <h1>Board Games</h1>
    <ul>
      <% boardgames.forEach((boardgame) => { %>
      <li>
        <a href="/boardgames/<%= boardgame.boardgame_id %>">
          <%= boardgame.boardgame_name %> (Rating: <%=
          boardgame.boardgame_rating || "N/A" %>)
        </a>
      </li>
      <% }) %>
    </ul>

    <h1>Developers</h1>
    <ul>
      <% developers.forEach((developer) => { %>
      <li>
        <a href="/developers/<%= developer.developer_id %>">
          <%= developer.developer_name %>
        </a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
